BasedOnStyle: Google
Standard: Cpp11
IncludeBlocks: Preserve
AccessModifierOffset: -4
IndentWidth: 4
IndentCaseLabels: true
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
MaxEmptyLinesToKeep: 1
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: Align
BreakConstructorInitializers: BeforeComma
BinPackArguments: false
BinPackParameters: false
